// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  font-size: $medium;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

  .btn-1{
    padding: .5rem;
    @include btn-Borde(0px,1,$color-turq);
    @include btn-Hover($color-light-grey);
    & a {
      @include btn-Text($color-white,$color-dark-grey);
    }
    
  }
  .btn-2{
    padding: .5rem 1rem;
    @include btn-Borde(0px,1,$color-pink);
    @include btn-Hover($color-light-grey);
    & a {
      @include btn-Text($color-white,$color-dark-grey);
    }
  }